form {
  display: flex;
  flex-direction: column;
}

.mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mat-flat-button {
  margin: auto 10px;
}

.answers-count {
  width: 180px;
}
