<h1 mat-dialog-title>{{eventLabel}} запись журнала</h1>
<div mat-dialog-content>

  <form [formGroup]="dialogForm">

    <mat-form-field class="description">
    <textarea matInput
              formControlName="description"
              placeholder="Описание"
              required>
    </textarea>
    </mat-form-field>

    <div>Варианты ответов:</div>

    <div formArrayName="answersArray">
      <div class="form-group" *ngFor="let item of answersFormArray.controls; let i = index">
        <div formGroupName="{{i}}">
          <mat-icon color="primary" (click)="removeItem(i)">delete</mat-icon>
          <mat-form-field class="description">
            <input matInput
                   placeholder="Текст ответа"
                   required
                   formControlName="answerText"/>
          </mat-form-field>
          <mat-checkbox color="primary" formControlName="isCorrect">Верно</mat-checkbox>
        </div>
      </div>
    </div>

    <button
      mat-flat-button
      color="primary"
      (click)="addAnswer()">Добавить ответ
    </button>

  </form>


</div>

<div mat-dialog-actions>
  <button mat-flat-button
          color="primary"
          [disabled]="dialogForm.invalid || (dialogForm.untouched && dialogForm.pristine)"
          (click)="onDialogSubmit()">Сохранить
  </button>
  <button color="primary"
          mat-flat-button
          (click)="closeDialog()">Закрыть
  </button>
</div>
