<app-journal [journalId]="journalId"></app-journal>

<div class="filters">
  <mat-form-field class="search-field">
    <input matInput
           [formControl]="searchFormControl"
           placeholder="Введите описание вопроса для поиска...">
  </mat-form-field>

  <form [formGroup]="questionFiltersForm" (ngSubmit)="onFiltersSubmit()">

    <mat-form-field>
      <mat-label>Количество ответов</mat-label>
      <mat-select formControlName="answersCount">
        <mat-option>Не задано</mat-option>
        <mat-option *ngFor="let answerCount of answersCountItems" [value]="answerCount">
          {{answerCount}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            class="apply-filters-btn"
            color="primary">Применить
    </button>
  </form>

</div>

<button mat-raised-button
        class="create-button"
        color=primary
        (click)="createQuestion()">Добавить новую запись
</button>

<table mat-table [dataSource]="questions$ | async" class="mat-elevation-z8">

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell
        *matCellDef="let element"
        class="action-link">
      <button mat-raised-button
              class="edit-button"
              color=primary
              (click)="editQuestion(element)">Редактировать
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> №</th>
    <td mat-cell *matCellDef="let element"> {{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Описание</th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="answersCount">
    <th mat-header-cell *matHeaderCellDef> Количество ответов</th>
    <td mat-cell *matCellDef="let element"> {{element.answers?.length}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
               showFirstLastButtons
               [length]="length$ | async"
               [pageSize]="pageSize$ | async"
               (page)="onPageClick($event)">
</mat-paginator>
